doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        script(src='./jquery/jquery.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
        style(type='text/css').
            .ui-widget input {
                width: 300px;
            }

        script.
            var regexBracket = /(\[[\w|_|\s\.\%\<\>]+\])/g;
            onload = function () {

                $(function () {
                    $("#menu").menu();
                    $("#newGroupBtn").button(
                    {
                        icon: "ui-icon-document", showLabel:false
                    }).click(function (event) {
                        $("#dialog").toggleClass("dialog_wide");
                        event.preventDefault();
                    });
                    $('#addNewValue').button().click(function (event){
                        $('#newValue').show();
                    });
                    $("#extraCGFieldset").hide();
                    $("#normalControlGroup").controlgroup();
                    $("#extraControlGroup").controlgroup();
                    $("#dialog").dialog({
                        autoOpen: false,
                        show: {
                            effect: "blind",
                            duration: 1000
                        },
                        hide: {
                            effect: "explode",
                            duration: 1000
                        },
                        width:800,
                        buttons: {
                            "Update the Resolver?": function () {
                                var selectedValue = $("#groupSelect").children(":selected").val();
                                if (selectedValue === 'new_value') {
                                    selectedValue = $("#newValue").val();
                                }
                                var myInputVal = $('#myInput').val().toUpperCase();
                                var groupNameVal = $('#groupName').val();
                                var newVal = myInputVal.replace('[' + groupNameVal + ']', selectedValue);
                                $('#myInput').val(newVal);
                                findBrackets();
                                $(this).dialog("close");
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                });
                var it = document.getElementById('myInput');
                it.addEventListener("input", findBrackets, false);
                $('#newValue').hide();
            };

            findBrackets = function () {
                var it = document.getElementById('myInput');
                var result = $('#result');
                if (regexBracket.test(it)) {
                    result.html(it.value.replace(regexBracket, buttonize));
                }
            }

            buttonize = function (m) {
                var groupNameTop = m.replace('[', '').replace(']', '').toUpperCase();
                var buttonCnt = $('.ui-button').length;
                var button = '<button class="ui-button ui-widget ui-corner-all" ' +
                        'id="' + groupNameTop + "_" + (buttonCnt + 1) + '" ' +
                        'onclick="openGroupDlg(this)">' + groupNameTop + '</button>';
                return button;
            }
            openGroupDlg = function (m) {
                var groupName = m.textContent;
                $("#groupName").val(groupName);
                $("#dropdownDiv").html(resolveGroup(groupName));
                $("#dialog").dialog("open");
            }
            resolveGroup = function (groupNameTop) {
                var dict = JSON.parse($('#dict').val());
                var groups = Object.keys(dict);
                var combo = $("<select id='groupSelect'></select>");

                if (groups.indexOf(groupNameTop)>-1){

                    var options = dict[groupNameTop];
                    $.each(options, function (i, el) {
                        combo.append("<option>" + el + "</option>");
                    });
                } else {
                    //new group

                }

                return combo.prop('outerHTML');
            }

    body
        block content
            input#dict(value= dictionary, hidden)
            #some-container-div
            //- var groups = Object.keys(dictionary);
            //each groupName in groups
            //    select
            //        each variable in dictionary[groupName]
            //            option(value=variable) #{variable}
            input#myInput(type=text)
            div#result
            div#dialog(title="Group Worker")
                fieldset
                    legend Group Editor
                    div#normalControlGroup
                        input#groupName
                        span
                            a#newGroupBtn
                        div#dropdownDiv
                fieldset#extraCGFieldset
                    legend bbbb
                    div#extraControlGroup bbb
                span
                    input#newValue(type='text')
                    a#addNewValue Add new value
